{%extends "base.html" %} {% block content %}

<h2>Aplikasi ini digunakan untuk mengklasifikasikan citra X-Ray kedalam kelas COVID-19 atau Normal</h2>

<div>
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Upload Gambar...
        </label>
        <input type="file" name="file" id="imageUpload" accept=".jpg">
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Prediksi!</button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>

    <h3 id="result">
        <span> </span>
    </h3>

</div>

{% endblock %}